* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    color: #fff;
    font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #1A1B21;
}

.info .profile_img {
    width: 317px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .buttons {
    display: flex;
}

.info .buttons .email {
    background-color: #fff;
    padding: 5px 15px;
}

.info .buttons .linkedin {
    background-color: #5093E2;
    padding: 5px 15px;
}